*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  
}

.pai{
    display: flex;
    flex-direction: row;
    gap: 200px;
    justify-content:center;
    align-items: baseline;
    background-image: linear-gradient(to right, rgb(51, 15, 100),rgb(24, 24, 148));
    color: white ;

}

.imagem{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.SAIR{
    color: rgb(26, 24, 25);
    font-size: 20px;
    padding: 3px;
    border-radius: 12px;
    background-image: linear-gradient(to right, rgb(76, 35, 90),rgb(219, 10, 247));
}

.SAIR:hover{
    
    color: white;
}

.title{
    color: rgb(221, 71, 161);



}



.filho{
    padding: 60px;
    display: flex;
    flex-direction: row;
    gap: 300px;
    justify-content:center;
    align-items: ;
    background-image: url(/imagens/Fabrica-De-Software.png);
    color: white;
   
}

.principal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: solid black; */
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.6);
    color:rgb(125, 128, 233)
}

.sub-principal{
    display: flex;
    flex-direction: column;
    gap: 40PX;
    /* border: solid black; */
    background-color:rgba(0, 0, 0, 0.6);
    color:rgb(125, 128, 233)


}

.meio{
    /* border: solid black;
    background-color:rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 200px; */
}

.nome{
    padding: 5px;
    background-image: linear-gradient(to right, rgb(245, 243, 248),rgb(72, 22, 129));
    color: white;

}

.enviar{
    color: white;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(99, 13, 219),rgb(169, 112, 235));
}

.enviar:hover{
    background-color: blue;
}



.walace{
    width: 300px;
    border-radius: 800px;
}

.rodape{
    padding: 30px;
    background-image: linear-gradient(to right, rgb(51, 15, 100),rgb(24, 24, 148));
    display:flex;
    flex-direction: row;
    gap: 600px;
   

}

.rede{
    width: 80px;
    border-radius: 100px;
    
}